body {
    padding: 0;
    margin: 0;
}

header{
    background: #212121;
    padding: 8px;
}

div {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

#titleText {
    color: #fff;
    font-size: 21px;
    position: relative;
    left: 64px;
    width: calc(100% - 64px);
}

ul{
    padding: 0;
    margin: 0;
}

li{
    display: table-cell;
    width: calc(100vw/3);
    text-align: center;
    color: #fff;
    padding: 5px;
}

#icon001 ,
#icon002 ,
#icon003 {
    font-size: 34px;
}

#icontext001 ,
#icontext002 ,
#icontext003 {
    font-size: 13px;
}

#item001 {
    background: #d32f2f;
}

#item002 {
    background: #bdbdbd;
}

#item003 {
    background:  #bdbdbd;
}

div.displayArea {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: #fff;      
}

div.area {
    display: table-cell;
    vertical-align: middle;
}

#infomationArea {
    background: #212121;
    width: 50vw;    
}


#place {
    font-size: 34px;
    padding: 8px;
    text-align: center;
}

#valueArea {
    background: #d32f2f;
    width: 30vw;  
}

#value {
    font-size: 55px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #titleText {
        position: static;
        left: 0px;
        text-align: center;
        width: 100%;
    }

    li {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #icon001 ,
    #icon002 ,
    #icon003 {
        font-size: 21px;
    }

    div.area {
        display: block;
    }

    #infomationArea {
        width: 80vw;
    }

    #place {
        font-size: 21px;
        width: 80vw;
    }

    #valueArea {
        width: 80vw;
    }
}