@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Japanese', Arial, Helvetica, sans-serif
}

header{
    background: #212121;
    padding: 8px;
}

div {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

#display002 {
    display: none;
}

p.titleArea {
    display: table-cell;
}

#titleText {
    color: #fff;
    font-size: 21px;
    padding-left: 64px;
    width: calc(60vw - 64px);
}

#timeText {
    color: #fff;
    font-size: 21px;
    text-align: right;
    padding-right: 64px;
    width: calc(40vw - 64px);
}

ul{
    padding: 0;
    margin: 0;
}

li{
    display: table-cell;
    width: calc(100vw/3);
    text-align: center;
    color: #fff;
    padding: 5px;
}

.itemIcon01{
    font-size: 34px;
}

.itemIcon02 {
    font-size: 13px;
}

#item001 {
    background: #d32f2f;
}

#item002 {
    background: #bdbdbd;
}

#item003 {
    background:  #bdbdbd;
}

div.displayArea {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: #fff;
}

div.area {
    vertical-align: middle;
    display: table-cell;
    border: solid;
    border-color: #212121;
    border-width: 5px;
}

#left001,
#left002 {
    background: #212121;
    width: 50vw;
}


p.pliceArea {
    font-size: 34px;
    padding: 5px;
    text-align: center;
}

#right001,
#right002 {
    background: #d32f2f;
    width: 30vw; 
}

p.valueArea {
    font-size: 55px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    p.titleArea {
        display: block;
    }

    #titleText {
        padding-left: 0px;
        text-align: center;
        width: auto;
    }

    #timeText {
        padding-right: 0px;
        font-size: 13px;
        text-align: center;
        width: auto;
    }

    li {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #icon001 ,
    #icon002 ,
    #icon003 {
        font-size: 21px;
    }

    div.displayArea {
        border: solid;
        border-color: #212121;
        border-width: 5px;
    }

    div.area {
        display: block;
        border: none;
    }

    #left001,
    #left002,
    #right001,
    #right002 {
        width: 80vw;
    }

    p.pliceArea {
        font-size: 21px;
        padding: 5px;
    }
}